<div id="work">

  <div class="work-entry">
    <%= image_tag 'nexttest.png', width: "800", class: "work-image" %>
    <div class="work-text">
      <div class="project"><h3>Next Test (in development)</h3></div>
      <div class="description">Discover your next A/B tests.</div>
      <div class="languages">Rails, PostgreSQL, Javascript, jQuery, Heroku, Sidekiq, Split.</div>
    </div>
  </div>

  <div class="work-entry">
    <%= link_to(image_tag('DBConnect.png', width: "800", class: "work-image"), "http://dbconnect.herokuapp.com/", :target => '_blank' ) %>
    <div class="work-text">
      <div class="project"><h3>DBConnect</h3></div>
      <div class="description">The networking tool for DevBootcamp alumni and employers. (DBC final project).</div>
      <div class="languages">Rails, PostgreSQL, Javascript, jQuery, Heroku, Solr.</div>
    </div>
  </div>

  <div class="work-entry">
    <%= link_to(image_tag('thinkful.png', width: "800", class: "work-image"), "http://www.thinkful.com/", :target => '_blank' ) %>
    <div class="work-text">
      <div class="project"><h3>Thinkful</h3></div>
      <div class="description">Remotely implemented the site redesign and several lead gen landing pages.</div>
      <div class="languages">Rails, Heroku, Javascript, jQuery.</div>
    </div>
  </div>

  <div class="work-entry">
    <%= link_to(image_tag('ROB.png', width: "800", class: "work-image"), "http://www.rapperorbird.com/", :target => '_blank' ) %>
    <div class="work-text">
      <div class="project"><h3>R.O.B.</h3></div>
      <div class="description">Don't let your ears fool you. Inspired by The Rap Board.</div>
      <div class="languages">Sinatra, Heroku, jQuery.</div>
    </div>
  </div>
</div>