/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


@font-face {
     font-family: 'StateFaceRegular';
     src: url('stateface-regular-webfont.eot');
     src: url('stateface-regular-webfont.eot?#iefix') format('embedded-opentype'),
          url('stateface-regular-webfont.woff') format('woff'),
          url('stateface-regular-webfont.ttf') format('truetype'),
          url('stateface-regular-webfont.svg#StateFaceRegular') format('svg');
     font-weight: normal;
     font-style: normal;
 }

@font-face {
     font-family: 'Entypo-Social';
     src: url('entypo-social.eot');
     src: url('entypo-social.woff') format('woff'),
          url('entypo-social.ttf') format('truetype'),
          url('entypo-social.svg') format('svg');
     font-weight: normal;
     font-style: normal;
}

@font-face {
     font-family: 'Entypo';
     src: url('entypo.eot');
     src: url('entypo.woff') format('woff'),
          url('entypo.ttf') format('truetype'),
          url('entypo.svg') format('svg');
     font-weight: normal;
     font-style: normal;
}

@font-face {
     font-family: 'Geobats';
     src: url('geobats.ttf') format('truetype');
     font-weight: normal;
     font-style: normal;
}

@font-face {
     font-family: 'Futura';
     src: url('futura.ttc') format('truetype');
     font-weight: normal;
}

body {
  font-family: Georgia, helvetica, arial, sans-serif;
  margin: 0 auto;
  overflow-y: hidden;
}

ul {
  padding:0;
  margin:0;
}

li {
  list-style-type: none;
}

h1 {
  text-align: center;
}

h2 {
  text-align: left;
}

a {
  text-decoration: none;
  color:#999;
}

a:hover {
  color:#CCC;
}

.nav {
  top:0;
  left:0;
  height: 60px;
  position: fixed;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid lightgrey;
  opacity: 0.98;
  z-index:2;
}

.nav ul {
  display: inline-block;
}

.nav li {
  margin: 0 20px;
  float: left;
  font-size: 16px;
  font-weight: normal;
  list-style-type: none;
}

.nav li a {
  line-height: 60px;
}

.nav-links {
  width: 450px;
  margin: 0 auto;
}

.gravatar {
  width:90px;
  margin: 0 auto;
  padding:20px;
}

.contact {
  text-align: center;
  font-size:20px;
  padding-top:20px;
}

.entry {
  margin: 0 auto;
  margin-bottom:30px;
  width:600px;
}

.company {
  width:500px;
}

.years {
  float: right;
  width:100px;
  text-align: right;
}

.title {
  width:200px;
}

.current-link {
  color:#CCC;
}

#about, #work, #photography, #contact {
  padding-top: 80px;
}

#container {
  position:absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

#about {
  padding-top: 100px;
}

.about-title {
  font-size: 36px;
  text-align: center;
}

#work {
  width: 100%;
}

.work-entry {
  width: 800px;
  margin: 0 auto;
  margin-bottom: 50px;
  position:relative;
}

.work-entry img {
  z-index:1;
}

.work-text {
background-color: black;
color: white;
position: absolute;
z-index: -1;
width:100%;
height:99%;
top:0;
}

.project, .description, .languages {
  text-align: center;
}

.description, .languages {
  font-size: 13px;
}

.languages {
  margin-top: 20px;
}

.project {
  margin-top: 160px;
}

.work-image {
  z-index:-2;
}

.contact {
  margin-top: 200px;
}