// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@font-face {
  font-family: 'AvenirNext';
  src: url('AvenirNext.otf');
}

body {
  font-family: AvenirNext;
  width:700px;
  margin: 0 auto;
}

ul {
  position: relative;
  width: 50%;
  float: right;
  padding:0;
  margin:0;
}

li {
  list-style-type: none;
}

h1 {
  text-align: center;
}

h2 {
  text-align: left;
}

a {
  text-decoration: none;
}

.gravatar {
  width:90px;
  margin: 0 auto;
  padding:20px;
}

.resume {
  margin: 100px 0;
  padding: 60px;
  -webkit-box-shadow: 0px 3px 10px rgba(50, 50, 50, 0.10);
  -moz-box-shadow:    0px 3px 10px rgba(50, 50, 50, 0.10);
  box-shadow:         0px 3px 10px rgba(50, 50, 50, 0.10);
}

.contact {
  text-align: center;
  font-size:14px;
  padding-top:20px;
}

.entry {
  margin-bottom:60px;
}

.company {
  width:400px;
}

.years {
  float: right;
  width:100px;
  text-align: right;
}

.title {
  width:200px;
}

.description {
  width:600px;
}